Document/tests/files/ezp3/ezxml_schema_lose.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://ez.no/namespaces/ezpublish3" xmlns:xhtml="http://ez.no/namespaces/ezpublish3/xhtml" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <start>
    <element name="section">
      <zeroOrMore>
        <ref name="sectionContent"/>
      </zeroOrMore>
    </element>
  </start>
  <define name="sectionContent">
    <choice>
      <!-- From documentation -->
      <element name="h">
        <ref name="headerContent"/>
      </element>
      <element name="p">
        <ref name="paragraphContent"/>
      </element>
      <!-- From ezxml schema -->
      <element name="section">
        <oneOrMore>
          <ref name="sectionContent"/>
        </oneOrMore>
      </element>
      <element name="paragraph">
        <ref name="paragraphContent"/>
      </element>
      <element name="header">
        <ref name="headerContent"/>
      </element>
    </choice>
  </define>
  <define name="headerContent">
    <optional>
      <!-- From documentation -->
      <attribute name="custom_parameter">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="anchor">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <!-- From ezxml schema -->
      <attribute name="anchor_name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="level">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="class">
        <data type="string"/>
      </attribute>
    </optional>
    <text/>
  </define>
  <define name="paragraphContent">
    <optional>
      <!-- From documentation -->
      <attribute name="custom_parameter">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <!-- From ezxml schema -->
      <attribute name="class">
        <data type="string"/>
      </attribute>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="inlineContent"/>
        <element name="line">
          <ref name="inlineContent"/>
        </element>
        <element name="embed">
          <ref name="embedAttributes"/>
        </element>
        <element name="ol">
          <ref name="listContent"/>
        </element>
        <element name="ul">
          <ref name="listContent"/>
        </element>
        <element name="custom">
          <!-- From documentation -->
          <attribute name="custom_parameter">
            <data type="string"/>
          </attribute>
          <!-- From ezxml schema -->
          <attribute name="name">
            <data type="string"/>
          </attribute>
          <optional>
            <text/>
          </optional>
        </element>
        <element name="literal">
          <optional>
            <!-- From ezxml schema -->
            <attribute name="class">
              <data type="string"/>
            </attribute>
          </optional>
          <text/>
        </element>
        <ref name="table"/>
      </choice>
    </oneOrMore>
  </define>
  <define name="listContent">
    <optional>
      <attribute name="custom_parameter">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="class">
        <data type="string"/>
      </attribute>
    </optional>
    <oneOrMore>
      <element name="li">
        <optional>
          <attribute name="custom_parameter">
            <data type="string"/>
          </attribute>
        </optional>
        <optional>
          <attribute name="class">
            <data type="string"/>
          </attribute>
        </optional>
        <choice>
          <oneOrMore>
            <!-- From documentation -->
            <element name="p">
              <ref name="paragraphContent"/>
            </element>
          </oneOrMore>
          <oneOrMore>
            <!-- From ezxml schema -->
            <element name="paragraph">
              <ref name="paragraphContent"/>
            </element>
          </oneOrMore>
          <text/>
        </choice>
      </element>
    </oneOrMore>
  </define>
  <define name="table">
    <element name="table">
      <optional>
        <attribute name="class">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="width">
          <data type="string"/>
        </attribute>
      </optional>
      <optional>
        <attribute name="border">
          <data type="string"/>
        </attribute>
      </optional>
      <oneOrMore>
        <element name="tr">
          <optional>
            <attribute name="class">
              <data type="string"/>
            </attribute>
          </optional>
          <choice>
            <oneOrMore>
              <element name="td">
                <ref name="tableContent"/>
              </element>
            </oneOrMore>
            <oneOrMore>
              <element name="th">
                <ref name="tableContent"/>
              </element>
            </oneOrMore>
          </choice>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="tableContent">
    <optional>
      <attribute name="class">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xhtml:width">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xhtml:colspan">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xhtml:rowspan">
        <data type="string"/>
      </attribute>
    </optional>
    <choice>
      <oneOrMore>
        <ref name="sectionContent"/>
      </oneOrMore>
      <oneOrMore>
        <ref name="table"/>
      </oneOrMore>
    </choice>
  </define>
  <define name="inlineContent">
    <zeroOrMore>
      <choice>
        <!-- From documentation -->
        <element name="b">
          <ref name="inlineElementContent"/>
        </element>
        <element name="bold">
          <ref name="inlineElementContent"/>
        </element>
        <element name="i">
          <ref name="inlineElementContent"/>
        </element>
        <element name="em">
          <ref name="inlineElementContent"/>
        </element>
        <element name="a">
          <ref name="linkContent"/>
        </element>
        <!-- From ezxml schema -->
        <text/>
        <element name="embed">
          <ref name="embedAttributes"/>
        </element>
        <element name="embed-inline">
          <ref name="embedAttributes"/>
        </element>
        <element name="strong">
          <ref name="inlineElementContent"/>
        </element>
        <element name="emphasize">
          <ref name="inlineElementContent"/>
        </element>
        <element name="link">
          <ref name="linkContent"/>
        </element>
        <element name="anchor">
          <optional>
            <attribute name="custom_parameter">
              <data type="string"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="name">
              <data type="string"/>
            </attribute>
          </optional>
          <ref name="inlineContent"/>
        </element>
      </choice>
    </zeroOrMore>
  </define>
  <define name="inlineElementContent">
    <optional>
      <!-- From documentation -->
      <attribute name="custom_parameter">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <!-- From ezxml schema -->
      <attribute name="class">
        <data type="string"/>
      </attribute>
    </optional>
    <ref name="inlineContent"/>
  </define>
  <define name="embedAttributes">
    <optional>
      <!-- From documentation -->
      <attribute name="custom_parameter">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="href">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <!-- From ezxml schema -->
      <attribute name="object_id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="node_id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="show_path">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="size">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="align">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="view">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xhtml:id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="class">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="target">
        <data type="string"/>
      </attribute>
    </optional>
  </define>
  <define name="linkContent">
    <optional>
      <!-- From documentation -->
      <attribute name="custom_parameter">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="href">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="title">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <!-- From ezxml schema -->
      <attribute name="class">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xhtml:id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="target">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="xhtml:title">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="object_id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="node_id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="show_path">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="anchor_name">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="url_id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="id">
        <data type="string"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="view">
        <data type="string"/>
      </attribute>
    </optional>
    <ref name="inlineContent"/>
  </define>
</grammar>
